<div class="events-container">
  <h2>Events</h2>
 
  <div class="search-bar">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTitle">
  </div>
 
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Date</th>
        <th>Organizer</th>
        <th>Contact Info</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events;let i=index">
        <td>{{i + 1}}</td>
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td>{{event.location}}</td>
        <td>{{event.date | date}}</td>
        <td>{{event.organizerName}}</td>
        <td>{{event.contactInfo}}</td>
        <td>{{event.status}}</td>
        <td class="actions">
          <button class="edit-btn" (click)="editEvent(event)">Edit</button>
          <button class="delete-btn" (click)="deleteEvent(event.eventId)">Delete</button>
          <button class="close-btn">Mark as Closed</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>