<div class="events-container">
    <h2>Requirements</h2>

        <!-- Horizontal Line -->
        <hr class="line">
    

   
    <div class="search-bar">
      <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" />
    </div>
   

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>S.No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let eventRequirement of filteredEventRequirements; let i = index">
            <td>{{i + 1}}</td>
            <td>{{eventRequirement.Title}}</td>
            <td>{{eventRequirement.Description}}</td>
            <td>{{eventRequirement.Location}}</td>
            <td>{{eventRequirement.date | date:'mediumDate'}}</td>
            <td>
                <span>
                    {{eventRequirement.Status}}
                </span>
            </td>
            <td>
                <button type="button" (click)="approveButton(eventRequirement)">Approve</button>
                <button type="button" (click)="rejectButton(eventRequirement)">Reject</button>
            </td>
        </tr>
    </tbody>
</table>
