<div class="events-container">
    <h2>Event Requirements</h2>
    <hr class="line">
    
    <div class="search-bar">
        <input type="text" placeholder="Search by title..." [(ngModel)]="searchTerm" (input)="searchByName()" />
    </div>
   

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>S.No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let eventRequirement of filteredEventRequirements; let i = index">
            <td>{{i + 1}}</td>
            <td>{{eventRequirement.Title}}</td> 
            <td>{{eventRequirement.Description}}</td>
            <td>{{eventRequirement.Location}}</td>
            <td>{{eventRequirement.Date | date:'mediumDate'}}</td>
            <td>
                <span>
                    {{eventRequirement.Status}}
                </span>
            </td>
            <td class="actions">
                <button type="button" class="approve-btn" (click)="approveButton(eventRequirement)">Approve</button>
                <button type="button" class="reject-btn" (click)="rejectButton(eventRequirement)">Reject</button>
            </td>
        </tr>
    </tbody>
</table>
