.error-container {
    text-align: center;
    margin-top: 50px;
}

.error-container h1 {
    font-size: 3em;
    color: #ff0000;
}

.error-container p {
    font-size: 1.2em;
}

.error-container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}