<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label>Title*</label>
      <input 
        type="text" 
        name="title" 
        class="form-control"
        [(ngModel)]="newEvent.Title" 
        #titleField="ngModel"
        required />
      <div *ngIf="titleField.touched && !newEvent.Title" class="text-danger">
        Title is required
      </div>
    </div>
  
    <div class="form-group">
      <label>Description*</label>
      <textarea 
        name="description" 
        class="form-control"
        [(ngModel)]="newEvent.Description"
        #descriptionField="ngModel"
        required></textarea>
      <div *ngIf="descriptionField.touched && !newEvent.Description" class="text-danger">
        Description is required
      </div>
    </div>
  
    <div class="form-group">
      <label>Location*</label>
      <input 
        type="text" 
        name="location" 
        class="form-control"
        [(ngModel)]="newEvent.Location" 
        #locationField="ngModel"
        required />
      <div *ngIf="locationField.touched && !newEvent.Location" class="text-danger">
        Location is required
      </div>
    </div>
  
    <div class="form-group">
      <label>Date*</label>
      <input 
        type="date" 
        name="date" 
        class="form-control"
        [(ngModel)]="newEvent.Date" 
        #dateField="ngModel"
        required />
      <div *ngIf="dateField.touched && !newEvent.Date" class="text-danger">
        Date is required
      </div>
    </div>
  
    <div class="form-group">
      <label>Organizer Name*</label>
      <input 
        type="text" 
        name="organizerName" 
        class="form-control"
        [(ngModel)]="newEvent.OrganizerName" 
        #OName="ngModel"
        required />
      <div *ngIf="OName.touched && !newEvent.OrganizerName" class="text-danger">
        Organizer Name is required
      </div>
    </div>
  
    <div class="form-group">
      <label>Contact Info*</label>
      <input 
        type="text" 
        name="contactInfo" 
        class="form-control"
        [(ngModel)]="newEvent.ContactInfo" 
        #cinfo="ngModel"
        required />
      <div *ngIf="cinfo.touched && !newEvent.ContactInfo" class="text-danger">
        Contact Info is required
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
  
    <button type="submit" class="btn btn-success mt-3">
      {{ isEditMode ? 'Update' : 'Submit' }}
    </button>
  </form>
  