<div class="container">
  <h2 class="form-title">{{isEditMode? 'Edit Requirement': 'Add New Requirement'}}</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="styled-form">
    <div class="form-group">
      <label>Title*</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="newRequirement.Title" #titleField="ngModel"
        required />
      <div *ngIf="titleField.touched && !newRequirement.Title" class="text-danger">Title is required</div>
    </div>

    <div class="form-group">
      <label>Description*</label>
      <textarea name="description" class="form-control" [(ngModel)]="newRequirement.Description"
        #descriptionField="ngModel" required></textarea>
      <div *ngIf="descriptionField.touched && !newRequirement.Description" class="text-danger">Description is required
      </div>
    </div>

    <div class="form-group">
      <label>Location*</label>
      <input type="text" name="location" class="form-control" [(ngModel)]="newRequirement.Location"
        #locationField="ngModel" required />
      <div *ngIf="locationField.touched && !newRequirement.Location" class="text-danger">Location is required</div>
    </div>

    <!-- <div class="form-group">
      <label>Date*</label>
      <input 
      type="date" 
      name="date" 
      class="form-control"
      [(ngModel)]="dateProperty" 
      #dateField="ngModel"
      required
      [min]="minDate"/>      
      <div *ngIf="dateField.touched && !newRequirement.Date" class="text-danger">Date is required</div>
    </div> -->

    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

    <label for="dropdownevent">Event*</label><br>
    <select class="form-group" name="dropdownevent" [(ngModel)]="selectedEvent" required>
      <option *ngFor="let event of temp_Events" [value]="event.EventId">
        {{event.Title}}
      </option>
    </select>

    <button type="submit" class="btn btn-success mt-3">{{ isEditMode ? 'Update' : 'Submit' }}</button>
  </form>
</div>