<!-- <app-navbar></app-navbar> -->
<div class="home-content">
    <h1>EventMaster</h1>
    <p>
        EventMaster is a dynamic platform designed to streamline the planning, management, and execution of events.
        By providing an intuitive interface, EventMaster empowers administrators to efficiently post event requirements
        and enables event organizers to submit detailed event information.
        Whether you're an admin managing event needs or an organizer adding event details, EventMaster offers tools to
        facilitate approval processes, track submissions, and manage events efficiently. Through collaboration between
        administrators and organizers, EventMaster ensures an environment where event opportunities are effectively
        managed and fulfilled.
    </p>
</div>