<nav class="navbar">
    <div class="navbar-brand">EVENTMASTER</div>
    <div class="navbar-links">
        <a routerLink="/admin-profile">DemoAdmin / Admin</a>
        <a routerLink="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Event</button>
            <div class="dropdown-content">
              <a href="/add-event">Add Event</a>
              <a href="/view-event">View Event</a>
            </div>
          </div>
        <a routerLink="/event-requirements">Event Requirements</a>
        <a routerLink="/feedback">Feedback</a>
        <button (click)="logout()">Log Out</button>
    </div>
</nav>